@page
@model on_thi_ktlt.Pages.MH_THEM_SAN_PHAMModel
@{
}
<div>
    <form method="Post">
        <label>Name</label><br />
        <input type="text" name="name" value="@Model.name" /><br />
        <label>Price</label><br />
        <input type="text" name="price" value="@Model.price" /><br />
        <input type="submit" value="thêm" />
    </form>
</div>


