@page
@model on_thi_ktlt.Pages.XOA_SUA.MH_XOA_SAN_PHAMModel
@{
    Layout = null;
}
<div>
    <form method="Post">
        <label>Bạn có muốn xóa sản phẩm @Model.hien_thi_xoa.name </label><br />
        <input type="submit" value="Xóa" />
    </form>
</div>
